@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:ital,wght@0,100;1,300&family=Zen+Kaku+Gothic+Antique&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color: #0AC05E;
}

body{
background-color: #FAFAFA;
font-family: 'Poppins',sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 30px auto;
  position: relative;
  z-index: 2;
}
.firstnav h2{
  font-weight: 900;
  font-size: 23px;
  margin-top: -5px;
}
.secondnav{
  margin-right: 200px;
}
.secondnav a{
  color: black;
  text-decoration: none;
  font-weight: 100;
  margin-right: 10px;
  padding: 13px 25px;
  transition: 0.4s ease;
}
.secondnav a:hover{
  background: var(--color) ;
  padding: 13px 25px;
  color: white;

  text-decoration: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
  
  transition: 0.4s ease;
}
.thirdnav :nth-child(1){
  color: black;
  text-decoration: none;
  font-weight: 100;
}
.thirdnav :nth-child(2){
  background: var(--color);
  padding: 13px 25px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.6);
  margin-left: 20px;

}
section{
  display: grid;
  grid-template-columns: 50% 50%;

  width: 1100px ;
  margin: 0px auto;
}
.firstsection{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  width: 650px;
  
}
.firstsection h1{
  font-size: 100px;
  width: 100%;
  line-height: 6.5rem;
  font-weight: bolder;
  margin: 30px 0px;
}
.firstsection p{
  line-height: 2rem;
  font-weight: 100;
  margin-bottom: 30px;
}

.firstsection span{
  color: var(--color);
}
.sectionlinks a:nth-child(1){
  background: var(--color);
  padding: 13px 25px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.6);
  margin-right: 20px;
}
.sectionlinks a:nth-child(2){
  color: var(--color);
  text-decoration: none;
  font-weight: 100;
}
.secondsection{
  background: url('./img/Hero image.png') no-repeat center center/cover;
  background-size: 420px;
  height: 650px;
  margin-left: 130px;
  padding: 0;

}
#image1 img{
  width: 190px;
  transform: translateX(220px) translateY(205px);
}
#image2 img{
  width: 220px;
  transform: translateX(220px) translateY(170px);
}
#image3 img{
  width: 140px;
  transform: translateX(20px) translateY(-100px);
  
}
#image4 img{
  width: 130px;
  transform:  translateY(-85px);
  
}
#image5 img{
  width: 100px;
  transform: translateY(-350px) translateX(90px);
}
#image6 img{
  width: 130px;
  transform: translateY(-650px) translateX(-40px);
}

.decorators{
  width: 1100px;
  margin: 0px auto;
}

#decorate1 img{
  width: 300px;
  transform:  translateY(-60px);
}

#decorate2 img{
  position: relative;
  width: 300px;
  transform: translateY(-930px) translateX(-150px);
}
#decorate3 img{
  position: relative;
  width: 300px;
  transform: translateY(-1130px) translateX(170px);
  
}
.sponsorimg img{
  width: 120px;
}
.sponsors{
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -350px;
  background: #f1f1f1;
  padding: 60px;
}
.advert{
  /* background-color: aqua; */
  width: 1100px;
  margin: 150px auto;
}
.firstadvert{
  margin-bottom:60px;
}
.firstadvert h1{
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}
.secondadvert{
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: space-between;
}
.advertboxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advertboxes p{
  text-align: center;
  font-weight: 100;
}
.advertboxes h3{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.secondadvert img{
  width: 70px;
  margin-bottom: 35px;
}
#odd img{
  margin-bottom: 55px;
}
.works{
  width: 1100px;
  margin: 2px auto;
}
.firstwork{
  margin-bottom: 160px;
}
.firstwork h1{
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px
}
.firstwork p{
  text-align: center;
  font-weight: 100;
  
 
}
.secondworkbox h2{
  font-weight: 500;
  margin-bottom: 30px;
 
}
.secondworkbox p{
  font-weight: 100;
  line-height: 30px;

}
.workboxes{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
}
.firstworkbox1{
  width: 450px;
  height: 450px;
  background: url('./img/pinksemi.png') no-repeat center center/cover;
  background-size: 450px;
  margin-top: -100px;
}
.firstworkbox2{
  width: 450px;
  height: 450px;
  background: url('./img/bluesemi.png') no-repeat center center/cover;
  background-size: 450px;
  margin-top: -100px;
}
.firstworkbox3{
  width: 450px;
  height: 450px;
  background: url('./img/yellowsemi.png') no-repeat center center/cover;
  background-size: 450px;
  margin-top: -100px;
}
.inside1{
  transform: translateY(70px) translateX(-25px);
}
.inside2 img{
transform: translateX(100px) translateY(40px);
}
.insideodd img{
  transform: translateX(85px) translateY(-50px) ;
}
.about{
  width: 1100px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
}
.firstabout h1{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}
.firstabout p{
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 30px;
}
.aboutlinks a:nth-child(1){
  background: var(--color);
  padding: 13px 25px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.6);
}
.aboutlinks a:nth-child(2){
  
  padding: 13px 25px;
  color: var(--color);
  border: 1px solid var(--color);
  text-decoration: none;
  /* box-shadow: 0px 3px 10px rgb(0 0 0 / 0.6); */
}
.secondabout{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
  border-left: 1px solid #E0E0E0;
  width: 500px;
  padding-top: 50px;
  padding-left: 50px;
}
.aboutbox{
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  margin-bottom: 50px;
  cursor: pointer;
}
.about p{
  font-weight: 100;
}
.aboutbox:hover{
  background: white;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.6);

}
